@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Cinzel:wght@500&family=Italiana&family=Krona+One&family=Viaoda+Libre&display=swap');
.landing {
  padding: 0 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 620px;
  min-width: 100%;
  background-color: #E8F4EA;
}
@media only screen and (max-width: 600px) {
  .landing{
    height: 100%;
  }  
}



.title a {
  color: #FA5E00;
  text-decoration: none;
}

.title {
  font-family: "Italiana";
  font-weight:bolder;
  text-align: center;
  margin: 0;
  line-height: 1.15;
  font-size: 3.5vw;
  color: #022B3A;
  text-shadow: 0.5px 1px 2px grey;
  position: relative;
  top:2vw;
}
@media only screen and (max-width: 600px) {
  .title{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bolder;
    text-align: center;
    margin: 0;
    line-height: 1.15;
    font-size: 5.5vw;
  }  
}


.title,
.description {
  text-align: center;
}

.box {
  width: 80%;
  height: 142vw;
  position: relative;
  box-shadow: 1px 1px 15px grey;
  min-height: 100vh;
}
@media only screen and (max-width: 600px) {
  .box{
    height: 100%;
  }  
}

.logo1 {
  width: 6.5%;
  position: absolute;
  right: 22%;
  top: 1.8vw;
}
@media only screen and (max-width: 600px) {
  .logo1{
    width: 12%;
    position: absolute;
    right: 4%;
    top: 2vw;
  }  
}

.layout {
  width: 100%;
  position: relative;
  top: 3.4vw;
  min-height: 100%;
}


.fifa {
  width: 22%;
  position: absolute;
  right: 0%;
  top: 2.2vw
}
@media only screen and (max-width: 600px) {
  .fifa{
    width: 18%;
    position: absolute;
    left: 1.6%;
    top:5vw
  }  
}

.borda {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 6.74vw;
  min-height: 100%;
  min-width: 8.3vw;
}

.seta {
  width: 70vw;
  position: absolute;
  left: 5%;
  top: 34.8vw;
}
@media only screen and (max-width: 600px) {
  .seta{
    width: 70vw;
    position: absolute;
    left: 5%;
    top: 42.8vw;
  }  
}

.chamada {
  font-family: 'Belleza';
  left: 48%;
  line-height: 1.15;
  font-size: 2vw;
  text-align: left;
  color: #022B3A;
  position: absolute;
  top: 12vw;
  text-shadow: 0.5px 1px 3px grey;
}
@media only screen and (max-width: 600px) {
  .chamada{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.9vw;
    top: 17vw;
  }  
}

.chamada2 {
  font-family: 'Belleza';
  left: 48%;
  line-height: 1.15;
  font-size: 2vw;
  text-align: left;
  color: #022B3A;
  position: absolute;
  top: 18.6vw;
  text-shadow: 0.5px 1px 3px grey;
}
@media only screen and (max-width: 600px) {
  .chamada2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.9vw;
    top: 24.5vw;
  }  
}

.chamada3 {
  font-family: 'Belleza';
  left: 48%;
  line-height: 1.15;
  font-size:  2vw;
  text-align: left;
  color: #022B3A;
  position: absolute;
  top: 25.2vw;
  text-shadow: 0.5px 1px 3px grey;
}
@media only screen and (max-width: 600px) {
  .chamada3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.9vw;
    top: 32vw;
  }  
}

.chamada a {
  color: #FA5E00;
  text-shadow: 0.5px 1px 2px grey;
}

.chamada2 a {
  color: #FA5E00;
  text-shadow: 0.5px 1px 2px grey;
}

.chamada3 a {
  color: #FA5E00;
  text-shadow: 0.5px 1px 2px grey;
}

.best {
  font-family: "Italiana";
  font-weight:bolder;
  
  line-height: 1.15;
  font-size: 3.5vw;
  text-align: center;
  color: #022B3A;
  position: relative;
  top: 5.5vw;
  text-shadow: 0.5px 1px 3px grey;
}
@media only screen and (max-width: 600px) {
  .best{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5.5vw;
    top: 6.2vw;
  }  
}

.best a {
  color: #FA5E00;
  text-shadow: 0.5px 1px 2px grey;
}

.boxA {
  position: absolute;
  width: 17vw;
  height: 20.5vw;
  left: 11%;
  top: 53vw;
  cursor: pointer;
  background: rgb(254, 223, 192);
  border-radius: 5px;
  box-shadow: 1px 1px 5px grey;
}
@media only screen and (max-width: 600px) {
  .boxA{
    width: 22vw;
    height: 31.5vw;
    left: 4%;
    top: 65vw;
  }  
}

.boxB {
  position: absolute;
  width: 17vw;
  height: 20.5vw;
  left: 39.3%;
  top: 53vw;
  cursor: pointer;
  background: #FEDFC0;
  border-radius: 5px;
  box-shadow: 1px 1px 5px grey;
}
@media only screen and (max-width: 600px) {
  .boxB{
    width: 22vw;
    height: 31.5vw;
    left: 36.3%;
    top: 65vw;
  }  
}

.boxC {
  position: absolute;
  width: 17vw;
  height: 20.5vw;
  right: 11%;
  top: 53vw;
  cursor: pointer;
  background: #FEDFC0;
  border-radius: 5px;
  box-shadow: 1px 1px 5px grey;
}
@media only screen and (max-width: 600px) {
  .boxC{
    width: 22vw;
    height: 31.5vw;
    right: 4%;
    top: 65vw;
  }  
}


.parA {
  font-family: 'Belleza';
  line-height: 1.2;
  font-size: 1.4vw;
  font-weight: bold;
  text-align: center;
  color: #022B3A;
  position: relative;
  bottom: 2.5vw;
  text-shadow: 0.1px 0.1px 0.1px grey;
}
@media only screen and (max-width: 600px) {
  .parA{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.9vw;
  }  
}

.parB {
  font-family: 'Belleza';
  line-height: 1.2;
  font-size: 1.4vw;
  font-weight: bold;
  text-align: center;
  color: #022B3A;
  position: relative;
  bottom: 2.5vw;
  text-shadow: 0.1px 0.1px 0.1px grey;

}
@media only screen and (max-width: 600px) {
  .parB{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.9vw;
  }  
}

.parC {
  font-family: 'Belleza';
  line-height: 1.2;
  font-size: 1.4vw;
  font-weight: bold;
  text-align: center;
  color: #022B3A;
  position: relative;
  bottom: 2.5vw;
  text-shadow: 0.1px 0.1px 0.1px grey;

}
@media only screen and (max-width: 600px) {
  .parC{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.9vw;
  }  
}

.point {
  font-family: 'cinzel';
  font-weight: bold;
  text-align: center;
  font-size: 2vw;
  position:relative;
  bottom: 1vw;
  color: #022B3A;
  text-shadow: 1px 1px 2px grey;

}
@media only screen and (max-width: 600px) {
  .point{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5vw;
  }  
}

.euro {
  line-height: normal;
  font-family: 'cinzel';
  font-weight: bold;
  text-align: center;
  color: #022B3A;
  text-shadow: 0.5px 1px 2px grey;
  font-size: 2.5vw;
  position:relative;
  bottom: 3.7vw;
  text-shadow: 1px 1px 2px grey;
}
@media only screen and (max-width: 600px) {
  .euro{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.8vw;
  }  
}

.aa{
  font-family: 'Belleza';
  line-height: normal;
  font-size: 1.1vw;
  font-weight: bold;
  text-align: center;
  color: #022B3A;
  position: relative;
  top: 1.1vw;
  text-shadow: 0.1px 0.1px 0.1px grey;
}
@media only screen and (max-width: 600px) {
  .aa{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6vw;
  }  
}

.star{
  font-family: 'Belleza';
  line-height: 1.4;
  font-size: 0.8vw;
  font-weight:bold;
  text-align: left;
  color: #022B3A;
  position: absolute;
  top: 73vw;
  left: 8.8vw;
  opacity:80%;
}
@media only screen and (max-width: 600px) {
  .star{
    font-size: 1.2vw;
    line-height: 1.1;
    top: 96.5vw;
    left: 4%
  }  
}

.book {
  font-family: "Italiana";
  font-weight:bolder;
  line-height: 1.15;
  font-size: 3.5vw;
  text-align: center;
  color: #022B3A;
  position: relative;
  top: 35vw;
  text-shadow: 0.5px 1px 3px grey;
}
@media only screen and (max-width: 600px) {
  .book{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3vw;
    top: 44vw;
  }  
}

.book a {
  
  color: #FA5E00;
  text-shadow: 0.5px 1px 2px grey;
}

.input1{
  position: absolute;

  height: 30.5vw;
  left: 34.5%;
  right: 34.5%;
  top: 98.5vw;
  background: rgba(254, 223, 192);
  border-radius: 9px;
  box-shadow: 1px 1px 5px grey;
  }
  @media only screen and (max-width: 600px) {
    .input1{
      height: 44vw;
      left: 30.5%;
      right: 30.5%;
      top: 115.5vw;
    }  
  }
  

.input{
  position: relative;
  text-align: center;
  
}
.retangulo2{
  
  font-family: 'Belleza';
  line-height: 1.4;
  font-size: 1.3vw;
  font-weight: bold;
  text-align: center;
  color: #022B3A;
  position: absolute;
  text-align: center;
  height: 2.5vw;
  right: 9%;
  left: 9%;
  top:11vw;
  background: white;
  border-radius: 0.5vw;
  border: 1px solid #ccc;
}
@media only screen and (max-width: 600px) {
  .retangulo2{
    top:20vw;
    height: 4.5vw;
    font-size: 1.9vw;

  }  
}

.retangulo1{
  font-family: 'Belleza';
  line-height: 1.4;
  font-size: 1.3vw;
  font-weight: bold;
  text-align: center;
  color: #022B3A;
  position: absolute;
  text-align: center;
  height: 2.5vw;
  right: 9%;
  left: 9%;
  top: 3vw;
  background: white;
  border-radius: 0.5vw;
  border: 1px solid #ccc;
}
@media only screen and (max-width: 600px) {
  .retangulo1{
    top:4vw;
    height: 4.5vw;
    font-size: 1.9vw;
  }  
}


.retangulo{
  
  font-family: 'Belleza';
  line-height: 1.4;
  font-size: 1.3vw;
  font-weight: bold;
  text-align: center;
  color: #022B3A;
  position: absolute;
  text-align: center;
  height: 2.5vw;
  right: 9%;
  left: 9%;
  top: 7vw;
  background: white;
  border-radius: 0.5vw;
  border: 1px solid #ccc;

}
@media only screen and (max-width: 600px) {
  .retangulo{
    top:12vw;
    height: 4.5vw;
    font-size: 1.9vw;
  }  
}

.submit{
  font-family: 'Belleza';
  line-height: 1.4;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  color: rgb(3, 44, 59);
  height: 4vw;
  position: absolute;
  top:23vw;
  left:9%;
  right: 9%;
  background:#FA5E00 ;
  border-radius: 0.5vw;
  border: 1px solid #ccc;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .submit{
    top:36vw;
    left:9%;
    right: 9%;
    height: 5vw;
    font-size: 2.5vw;
  }  
}

.submit:hover {
  opacity: 0.90;
}

.plat{
  font-family: 'Belleza';
  line-height: 3vw;
  font-size: 1.4vw;
  font-weight: bold;
  color: rgba(3, 44, 59, 0.7);
  position: absolute;
  left: 13%;
  right: 13%;
  top: 15vw;
}
@media only screen and (max-width: 600px) {
  .plat{
    top: 25vw;
    font-size: 2.5vw;
  }  
}

.radio {
  width: 20px;

}
@media only screen and (max-width: 600px) {
  .radio{
    width: 2vw;

  }  
}

.contato{
  position: absolute;
  top: 132vw;
  left: 5%;
  right: 5%;
  
}
@media only screen and (max-width: 600px) {
  .contato{
    top: 162vw;
  }  
}


.social{
  max-height: 100%;
  max-width: 100%;
  width: 17%;
  margin: 1.5%;
  cursor: pointer;
  
}

.social:hover {
  opacity: 0.95;
}

.social1{
  max-height: 100%;
  max-width: 100%;
  width: 17%;
  margin: 1.5%;
  cursor: pointer;

}

.social1:hover {
  opacity: 0.95;
}

.social2{
  max-height: 100%;
  max-width: 100%;
  width: 17%;
  margin: 1.5%;
  cursor: pointer;

}

.social2:hover {
  opacity: 0.95;
}

.social3{
  max-height: 100%;
  max-width: 100%;
  width: 17%;
  margin: 1.5%;
  cursor: pointer;

}

.social3:hover {
  opacity: 0.95;
}

.social4{
  max-height: 100%;
  max-width: 100%;
  width: 17%;
  margin: 1.5%;
  cursor: pointer;

}

.social4:hover {
  opacity: 0.95;
}

.contact{

  width: 30vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.info{
  font-family: 'Belleza';
  line-height: 1.4;
  font-size: 1.3vw;
  font-weight: bold;
  text-align: center;
  color: #022B3A;
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 5vw;
}

