@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Cinzel:wght@500&family=Italiana&family=Krona+One&family=Viaoda+Libre&display=swap');
.landing {
  padding: 0 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 620px;
  min-width: 100%;

}
.bgimage{
  position: fixed;
  background-repeat: repeat;
  background-image: url('../public/images/fundoAzul.png');
  filter: blur(5px);
  width: 100%;
  height: 100%;
  min-height: 620px;
  min-width: 100%;
}

.title a {
  color: #FA5E00;
  text-decoration: none;
}

.title {
  font-family: "Italiana";
  font-weight:bolder;
  right: 50%;
  left: 50%;
  margin: 0;
  line-height: 1.15;
  font-size: 3.5vw;
  color: #022B3A;
  text-shadow: 0.5px 1px 2px grey;
}

.title,
.description {
  text-align: center;
}

.box {
  width: 80%;
  height: 142vw;
  background-image: url('../public/images/fundoAzul.png');
  position: relative;
  box-shadow: 1px 1px 15px grey;
  min-height: 100vh;



}

.logo1 {
  width: 6.5%;
  position: absolute;
  right: 22%;
  top: 1.8vw;
}

.layout {
  width: 100%;
  position: relative;
  top: 20%;
  min-height: 100%;

}


.fifa {
  width: 22%;
  position: absolute;
  right: 0%;
  top: 2vw
}

.borda {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 6.74vw;
  min-height: 100%;
  min-width: 8.3vw;
}

.seta {
  width: 70vw;
  position: absolute;
  left: 5%;
  top: 34.5vw;
}

.chamada {
  font-family: 'Belleza';
  left: 50%;
  line-height: 1.15;
  font-size: 1.5vw;
  text-align: left;
  color: #022B3A;
  position: absolute;
  top: 11vw;
  text-shadow: 0.5px 1px 3px grey;
}

.chamada2 {
  font-family: 'Belleza';
  left: 50%;
  line-height: 1.15;
  font-size: 1.5vw;
  text-align: left;
  color: #022B3A;
  position: absolute;
  top: 16.6vw;
  text-shadow: 0.5px 1px 3px grey;
}

.chamada3 {
  font-family: 'Belleza';
  left: 50%;
  line-height: 1.15;
  font-size: 1.5vw;
  text-align: left;
  color: #022B3A;
  position: absolute;
  top: 22vw;
  text-shadow: 0.5px 1px 3px grey;
}

.chamada a {
  color: #FA5E00;
  text-shadow: 0.5px 1px 2px grey;
}

.chamada2 a {
  color: #FA5E00;
  text-shadow: 0.5px 1px 2px grey;
}

.chamada3 a {
  color: #FA5E00;
  text-shadow: 0.5px 1px 2px grey;
}

.best {
  font-family: "Italiana";
  font-weight:bolder;
  
  line-height: 1.15;
  font-size: 3.5vw;
  text-align: center;
  color: #022B3A;
  position: relative;
  top: 5.5vw;
  text-shadow: 0.5px 1px 3px grey;
}

.best a {
  color: #FA5E00;
  text-shadow: 0.5px 1px 2px grey;
}

.boxA {
  position: absolute;
  width: 14vw;
  height: 19.5vw;
  left: 11%;
  top: 53vw;
  cursor: pointer;
  background: rgb(254, 223, 192);
  border-radius: 15px;
  box-shadow: 1px 1px 5px grey;

}

.boxB {
  position: absolute;
  width: 14vw;
  height: 19.5vw;
  left: 41%;
  top: 53vw;
  cursor: pointer;
  background: #FEDFC0;
  border-radius: 15px;
  box-shadow: 1px 1px 5px grey;
}

.boxC {
  position: absolute;
  width: 14vw;
  height: 19.5vw;
  right: 11%;
  top: 53vw;
  cursor: pointer;
  background: #FEDFC0;
  border-radius: 15px;
  box-shadow: 1px 1px 5px grey;
}

.parA {
  font-family: 'Belleza';
  line-height: 1.4;
  font-size: 1.0vw;
  font-weight: bold;
  text-align: center;
  color: #022B3A;
  position: relative;
  bottom: 2.7vw;
  opacity:80%;
  text-shadow: 0.1px 0.1px 0.1px grey;

}

.parB {
  font-family: 'Belleza';
  line-height: 1.4;
  font-size: 1.0vw;
  font-weight: bold;
  text-align: center;
  color: #022B3A;
  position: relative;
  bottom: 2.7vw;
  opacity:80%;
  text-shadow: 0.1px 0.1px 0.1px grey;

}

.parC {
  font-family: 'Belleza';
  line-height: 1.4;
  font-size: 1.0vw;
  font-weight: bold;
  text-align: center;
  color: #022B3A;
  position: relative;
  bottom: 2.7vw;
  opacity:80%;
  text-shadow: 0.1px 0.1px 0.1px grey;

}

.point {
  font-family: 'cinzel';
  font-weight: bold;
  text-align: center;
  font-size: 2vw;
  position:relative;
  bottom: 1vw;
  color: #022B3A;
  text-shadow: 1px 1px 2px grey;

}

.euro {
  line-height: normal;
  font-family: 'cinzel';
  font-weight: bold;
  text-align: center;
  color: #022B3A;
  text-shadow: 0.5px 1px 2px grey;
  font-size: 2.5vw;
  position:relative;
  bottom: 3.5vw;
  text-shadow: 1px 1px 2px grey;
}

.aa{
  font-family: 'Belleza';
  line-height: normal;
  font-size: 1.1vw;
  font-weight: bold;
  text-align: center;
  color: #022B3A;
  position: relative;
  top: 2vw;
  text-shadow: 0.1px 0.1px 0.1px grey;
}

.star{
  font-family: 'Belleza';
  line-height: 1.4;
  font-size: 0.8vw;
  font-weight:bold;
  text-align: left;
  color: #022B3A;
  position: absolute;
  top: 72vw;
  left: 8.8vw;
  opacity:80%;

}

.book {
  font-family: "Italiana";
  font-weight:bolder;
  line-height: 1.15;
  font-size: 3.5vw;
  text-align: center;
  color: #022B3A;
  position: relative;
  top: 35vw;
  text-shadow: 0.5px 1px 3px grey;
}

.book a {
  color: #FA5E00;
  text-shadow: 0.5px 1px 2px grey;
}

.input1{
  position: absolute;

  height: 30.5vw;
  left: 34.5%;
  right: 34.5%;
  top: 94.5vw;

background: rgba(254, 223, 192);
border-radius: 9px;
box-shadow: 1px 1px 5px grey;
}

.input{
  position: relative;
  text-align: center;
  
}
.retangulo2{
  
  font-family: 'Belleza';
  line-height: 1.4;
  font-size: 1vw;
  font-weight: bold;
  text-align: center;
  color: #022B3A;
  position: absolute;
  text-align: center;
  height: 2.5vw;
  right: 9%;
  left: 9%;
  top:11vw;
  background: white;
  border-radius: 0.5vw;
  border: 1px solid #ccc;

}

.retangulo1{
  font-family: 'Belleza';
  line-height: 1.4;
  font-size: 1vw;
  font-weight: bold;
  text-align: center;
  color: #022B3A;
  position: absolute;
  text-align: center;
  height: 2.5vw;
  right: 9%;
  left: 9%;
  top: 3vw;
  background: white;
  border-radius: 0.5vw;
  border: 1px solid #ccc;
}


.retangulo{
  
  font-family: 'Belleza';
  line-height: 1.4;
  font-size: 1vw;
  font-weight: bold;
  text-align: center;
  color: #022B3A;
  position: absolute;
  text-align: center;
  height: 2.5vw;
  right: 9%;
  left: 9%;
  top: 7vw;
  background: white;
  border-radius: 0.5vw;
  border: 1px solid #ccc;

}

.submit{
  font-family: 'Belleza';
  line-height: 1.4;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  color: rgb(3, 44, 59);
  height: 4vw;
  position: absolute;
  top:23vw;
  left:9%;
  right: 9%;
  background:#FA5E00 ;
  border-radius: 0.5vw;
  border: 1px solid #ccc;
  cursor: pointer;
}

.submit:hover {
  opacity: 0.90;
}

.plat{
  font-family: 'Belleza';
  line-height: 3vw;
  font-size: 1.4vw;
  font-weight: bold;
  color: rgba(3, 44, 59, 0.7);
  position: absolute;
  left: 13%;
  right: 13%;
  top: 15vw;

}

.contato{
  position: absolute;
  bottom: 5vw;
  left: 5%;
  right: 5%;
  
}

.social{
  max-height: 100%;
  max-width: 100%;
  width: 17%;
  margin: 1.5%;
  cursor: pointer;
  
}

.social:hover {
  opacity: 0.95;
}

.social1{
  max-height: 100%;
  max-width: 100%;
  width: 17%;
  margin: 1.5%;
  cursor: pointer;

}

.social1:hover {
  opacity: 0.95;
}

.social2{
  max-height: 100%;
  max-width: 100%;
  width: 17%;
  margin: 1.5%;
  cursor: pointer;

}

.social2:hover {
  opacity: 0.95;
}

.social3{
  max-height: 100%;
  max-width: 100%;
  width: 17%;
  margin: 1.5%;
  cursor: pointer;

}

.social3:hover {
  opacity: 0.95;
}

.social4{
  max-height: 100%;
  max-width: 100%;
  width: 17%;
  margin: 1.5%;
  cursor: pointer;

}

.social4:hover {
  opacity: 0.95;
}

.contact{

  width: 30vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.info{
  font-family: 'Belleza';
  line-height: 1.4;
  font-size: 1.3vw;
  font-weight: bold;
  text-align: center;
  color: #022B3A;
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 5vw;
}

